DB_HOST=mysql.uergs2024.kinghost.net
DB_USER=uergs2024
DB_PASSWORD=preencha-no-servidor
DB_NAME=uergs2024
DB_PORT=3306
ADMIN_PASSWORD=preencha-no-servidor
TOKEN_SECRET=preencha-uma-chave-longa-no-servidor

